html(lang="ru")
include ./components/head.pug
  
body
    .wrapper
        include ./components/header.pug
        - arr = [   'Home', 'Main', 'About', 'Contact','Settings']
        each val,index in arr
            section.section(class= val)
                .anchor(id='' + val)
                .h1= val 
    include ./components/footer.pug
include ./components/bottom.pug 
           
    



