html(lang="ru")
include ./components/head.pug
  
body
    .wrapper
        include ./components/header.pug
        section.section
            .h1 Main Title
    include ./components/footer.pug
include ./components/bottom.pug 
           
    



