header.header
    .container
        ul.menu_list
            each val,index in ['Home', 'Main', 'About', 'Contact','Settings']
                li.menu_item
                    a(href = '#'+val).menu_link= val




